/*
************
*************************
25. 404
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.error-area {
	min-height: 732px;
	display: grid;
	place-items: center;
    position: relative;
    z-index: 1;
    @media #{$xs, $md, $lg} {
      padding-bottom: 60px;
    }
    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }
}

.error-content-title {
    font-size: 200px;
    line-height: 1;
    margin-bottom: 10px;
    color: #fff;
    @media #{$lg}{
      font-size: 180px;
    }
    @media #{$md}{
      font-size: 150px;
    }
    @media #{$xs}{
      font-size: 120px;
    }
  }
  .error-content-subtitle {
    font-size: 48px;
    margin-bottom: 10px;
    color: #fff;
    @media #{$lg}{
      font-size: 40px;
    }
    @media #{$md}{
      font-size: 38px;
    }
    @media #{$xs}{
      font-size: 28px;
    }
  }
  .error-content-text {
    font-size: 16px;
    margin-bottom: 45px;
    color: #fff;
  }
.error-btn {
    &:hover {
        background-color: #fff;
        color: var(--clr-theme-primary);
    }
}
.error-area::before {
    background: #fff;
}
.error-area * {
    color: #222;
}
.error-area * a.theme-btn.error-btn {
    color: #fff;
}
.error-area * a.theme-btn.error-btn:hover {
    background: var(--clr-theme-primary);
}