/*
************
*************************
09. choose
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.choose-area{
  background-color: var(--clr-common-black);
}
.choose-progress {
  p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
  }
}
.single-progress-bar:not(:last-child) {
	margin-bottom: 30px;
}
.progressbar {
  margin-bottom: 0;
  margin-top: 10px;
}
.percentCount {
	display: block;
	font-size: 14px;
	color: var(--clr-body-heading);
	padding: 5px 8px;
	line-height: 1;
	border-radius: 4px;
	background: #fff;
  margin-top: -44px;
}
.progress-label {
  display: inline-block;
  .label-text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
  }
}
.progress-count {
  margin-left: 20px;
  display: block;
  font-size: 14px;
  color: var(--clr-body-heading);
  padding: 5px 8px;
  line-height: 1;
  border-radius: 4px;
  background: #fff;
  span {
    font-size: 14px;
    color: var(--clr-body-heading);
    line-height: 1;
  }
}
.choose-counter {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  @media #{$xs} {
    flex-direction: column;
    padding-bottom: 35px;
  }
  @media #{$sm} {
    flex-direction: row;
    padding-bottom: 40px;
  }
}
.choose-counter-item {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-basis: 50%;
  flex-shrink: 0;
  max-width: 50%;
  flex-grow: 0;
  justify-content: center;
  @media #{$xs} {
    max-width: 100%;
    flex-basis: 100%;
    &:last-child {
      padding-bottom: 0;
    }
  }
  @media #{$sm} {
    flex-basis: 50%;
    max-width: 50%;
    padding-bottom: 40px;
  }
}
.item-icon {
  margin-right: 8px;
  i {
    font-size: 40px;
    color: #fff;
  }
}
.content-title {
  margin-bottom: 0;
  font-size: 36px;
  color: var(--clr-theme-primary);
}
.content-subtitle {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.choose-counter-item{
  border-bottom: 1px solid #555;
  border-right: 1px solid #555;
  &:nth-child(2) {
      border-right: 0;
  }
  &:nth-child(3) {
      border-bottom: 0;
      
  }
  &:nth-child(4) {
      border-right: 0;
      border-bottom: 0;
  }
  @media #{$xs} {
    border: none;
  }
  @media #{$sm} {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
  }
}
