/*
************
*************************
28. footer
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.footer-area {
    background: var(--clr-common-black);
}

.footer-left {
  position: relative;
  z-index: 1;
  margin-top: -85px;
  .social {
    left: 0;
    margin: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 100%;
    background: var(--clr-theme-primary);
    text-align: center;
    a {
      font-size: 18px;
      color: #fff;
      &:not(:last-child) {
        margin-right: 15px;
      }
      &:hover {
        color: #ea6b08;
      }
    }
  }
  
  @media #{$xl} {
    margin-top: -56px;
  }
  @media #{$lg, $md ,$xs} {
    margin-top: 0;
  }
}
.inner-left {
  padding: 45px 25px 50px;
  background: #fff;
}
.footer-logo {
  margin-bottom: 21px;
  img {
    width: 170px;
  }
}
.footer-content p {
  font-size: 16px;
  margin-bottom: 20px;
}
.footer-contact-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 10px;
  &:last-child {
      margin-bottom: 0;
  }
}
.contact-icon {
  width: 20px;
  flex: 0 0 20px;
  font-size: 18px;
  color: var(--clr-theme-primary);
  i {
    margin-top: 4px;
  }
}
.address-info p {
  margin-bottom: 0;
  font-size: 16px;
}
.contact-info a {
  display: block;
  margin-bottom: 5px;
  &:last-child {
      margin-bottom: 0;
  }
  &:hover {
    color: var(--clr-theme-primary);
  }
}
.footer-right {
  padding: 90px 0;
  margin-left: 50px;
  @media #{$xl} {
    margin-left: 30px;
  }
}
.footer-combine {
  display: flex;
  justify-content: space-between;
  &.mr-30 {
    @media #{$xl} {
        margin-right: 10px;
        margin-left: 35px;
    }
    @media #{$lg} {
        margin-right: 70px;
        margin-left: 0;
    }
    @media #{$md ,$xs} {
        margin-right: 0;
        margin-left: 0;
    }
    @media #{$xs}{
      flex-direction: column;
      gap: 30px;
    }
    @media #{$sm}{
      flex-direction: row;
      gap: 0;
    }
  }
}
.footer-widget {
  &-title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &-text {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
  }
  &-menu {
    ul {
      li {
        display: block;
        margin-bottom: 10px;
        a {
          color: #fff;
          font-size: 16px;
          display: block;
          &:hover {
            color: #ea6b08;
          }
        }
      }
    }
  }
}
.working-hours {
  width: 100%;
  tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    th {
      font-size: 16px;
      font-weight: 600;
      color: #fff;
    }
    td {
      text-align: left;
      min-width: 110px;
      font-size: 16px;
      color: #fff;
      margin-left: 30px;
    }
  }
}
.newsletter-form {
  form {
    input {
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0 25px;
      border-radius: 3px;
      border: none;
      margin-bottom: 15px;
    }
    .subscribe-btn {
      width: 100%;
    }
  }
  p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
  }
}

.footer-copyright {
  border-top: 1px solid #444;
  padding: 25px 0;
}
.copyright-text {
  text-align: center;
  p {
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
  }
  a {
    color: #ea6b08;
    font-weight: 600;
    font-size: 18px;
    margin-left: 5px;
  }
}

.subscribe-btn {
  @include transition(.3s);
  &:hover {
    background-color: #fff;
    color: var(--clr-theme-primary);
  }
}

.footer-combine.pb-90 {
  @media #{$xs}{
    padding-bottom: 15px;
  }
}

.footer-widget.pt-85 {
  @media #{$xs}{
    padding-top: 15px;
  }
}
.footer-top {
	margin-top: 67px;
}
.error-footer {
  .footer-top {
    margin-top: 0;
  }
}