/*
************
*************************
10. product
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;



.product-tab-wrap {
    padding: 20px 30px;
    background: #eee;
  }
  .product-tab-wrap ul li {
    width: 290px;
    &:last-child {
        button {
            border: none;
        }
    }
  }
  .product-tab-wrap ul li .nav-link {
    background: transparent;
    color: red;
    border: 1px solid #fff;
    padding: 13px 20px;
    font-size: 18px;
    margin: 0px 0px 1px;
    border-width: 0 0 1px;
    border-radius: 0;
    width: 100%;
    text-align: left;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
  }
  .product-tab-wrap ul li .nav-link i {
    font-size: 20px;
    margin-right: 18px;
  }

  .product-tab-wrap ul li .nav-link.active {
    background-color: var(--clr-theme-primary);
  }

  .product-item-title {
    font-size: 18px;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 10px;
  }
  
.product-circle {
  display: flex;
  justify-content: space-between;
  @media #{$xs}{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  @media #{$sm}{
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
  }
}
.product-circle-item {
	margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
  svg {
    padding: 0;
  }
  @media #{$xs}{
    margin-right: 0;
  }
  @media #{$sm}{
    margin-right: 30px;
  }
}

svg.radial-progress circle {
  stroke-width: 5;
}
svg.radial-progress text {
  fill: #3c4761;
  font-size: 16px;
}
svg.web-design circle {
  stroke: var(--clr-theme-primary);
}


.product-wrap {
  @media (min-width: 768px) { 
      max-width: 100%;
      padding: 0;
  }
}
.product-content {
  transform: translateX(calc(calc(100% - 1290px) / 2));
  @media #{$xl} {
      transform: translateX(calc(calc(100% - 1110px) / 2));
  }
  @media #{$lg} {
      transform: translateX(calc(calc(100% - 930px) / 2));
  }
  @media #{$md} {
      transform: translateX(calc(calc(100% - 690px) / 2));
  }
  @media #{$xs} {
      transform: translateX(0);
  }
}
.product-content {
  background: var(--clr-theme-primary);
}
.inner-wrap {
	width: 100%;
	overflow: hidden;
	margin-left: auto;
}
.product-wrapper-bg {
	background-color: var(--clr-theme-primary);
}
.product-img {
	height: 100%;
	display: flex;
	align-items: flex-end;
  img {
    height: 100%;
  }
}
.product-inner {
  display: flex;
  padding: 60px 0 60px;
  gap: 30px;
  @media #{$lg, $md, $xs}{
    flex-wrap: wrap;
  }
}
.product-item {
  background: #fff;
  padding: 30px 30px 25px;
  border-radius: 5px;
  text-align: center;
  width: calc(100% / 5);
  @media #{$lg}{
    width: 31%;
  }
  @media #{$md}{
    width: 30%;
  }
  @media #{$xs}{
    width: 100%;
  }
  @media only screen and (min-width: 480px) and (max-width: 575px) { 
    width: calc(50% - 15px);
  }
  @media #{$sm}{
    width: calc(50% - 15px);
  }
}
.product-icon {
  width: 75px;
  height: 75px;
  background: #ddd;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
  font-size: 30px;
  color: var(--clr-theme-primary);
  margin: auto;
  margin-bottom: 15px;
}
.product-info h4 {
  font-size: 20px;
  margin-bottom: 0;
  line-height: 1.3;
}
.shop-content-rating i {
  color: #c3c3c3;
}

.shop-content-rating i.active {
  color: #006464;
}
.shop-content-price .price {
  display: inline-block;
  color: var(--clr-body-heading);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  font-family: "Rubik", sans-serif;
}
.shop-img.w_img img {
  object-fit: cover;
}
.blog-post-img.w_img img {
  object-fit: cover;
}
.video-inner-img img {
  object-fit: cover;
}
.shop-details-img img {
  object-fit: cover;
}
@media #{$xs} {
  .shop-details-img img {
    max-height: 300px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}
.team-img img {
  object-fit: cover;
}
.team-details-img img {
  object-fit: cover;
}
.team-details-img.w_img img {
  height: unset;
}
.s_portfolio-img img {
  object-fit: cover;
}
.portfolio-details-img img {
  height: auto;
  object-fit: cover;
}
.blog-details-post-thumb img {
  object-fit: cover;
}