/*
************
*************************
07. service
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.service-section {
    background-color: #D9E9E9;
    height: 100%;
    width: 100%;
    padding: 50px 40px;
    display: grid;
    place-items: center;
    @media #{$xl} {
        padding: 50px 30px;
    }
    @media #{$md} {
        padding: 50px 30px;
    }
    @media #{$xs} {
        padding: 50px 30px;
        place-items: start;
    }
}
.service-item {
    width: 100%;
    height: 100%;
    padding: 40px 40px 50px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    @media #{$xl} {
        padding: 40px 30px 50px;
    }
    @media #{$md} {
        padding: 40px 30px 50px;
    }
    @media #{$xs} {
        padding: 40px 30px 50px;
    }
}
.service-img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    @include transition(.4s);
    transform: translateX(-100px);
    &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255, 0);
        z-index: -1;
        @include transition(.3s);
    }
}
.service-icon {
    font-size: 55px;
    color: var(--clr-theme-primary);
    margin-bottom: 15px;
    @include transition(.3s);
    @media #{$md} {
        font-size: 50px;
    }
    @media #{$xs} {
        font-size: 45px;
    }
    @media #{$sm} {
        font-size: 50px;
    }
}
.service-content {
    &-title {
        font-size: 24px;
        margin-bottom: 15px;
        @media #{$md} {
            font-size: 20px;
        }
        @media #{$xs} {
            font-size: 20px;
        }
        @media #{$sm} {
            font-size: 24px;
        }
    }
    p {
        font-size: 16px;
        margin-bottom: 0;
        @include transition(.3s);
    }
}
.service-item:hover {
    .service-img {
        opacity: 1;
        transform: translateX(0);
        &::after {
            opacity: 0.6;
            background-color: #000000;
        }
    }
    .service-icon {
        color: #fff;
    }
    .service-content-title {
        color: #fff;
        &:hover a {
            color: #ea6b08;
        }
    }
    .service-content p {
        color: #fff;
    }
}
.service-border {
    border: 1px solid #ececec;
    &:nth-child(2) {
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        @media #{$lg, $md, $xs} {
            border-right: 1px solid #ececec;
        }
        @media #{ $xs} {
            border-left: 1px solid #ececec;
        }
    }
    &:nth-child(3) {
        border-bottom: 0;
        @media #{$lg, $md} {
            // border-right: 0;
        }
    }
    &:nth-child(4) {
        @media #{$lg, $md, $xs} {
            border-bottom: 0;
            border-right: 1px solid #ececec;
            border-left: 0;
        }
        @media #{$xs} {
            border-bottom: 0;
            border-left: 1px solid #ececec;
        }
    }
    &:nth-child(5) {
        border-right: 0;
        border-left: 0;
        @media #{$lg, $md, $xs} {
            border-left: 1px solid #ececec;
            border-right: 1px solid #ececec;
        }
        @media #{ $xs} {
            border-right: 1px solid #ececec;
            border-bottom: 0;
        }
    }
    &:nth-child(6) {
        @media #{$lg, $md,} {
            border-left: 0;
        }
        @media #{$xs} {
            border-left: 1px solid #ececec;
        }
    }
    &:nth-child(7) {
        border-top: 0;
    }
    &:nth-child(8) {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        @media #{$lg, $md} {
            border-right: 1px solid #ececec;
        }
        @media #{ $xs} {
            border-right: 1px solid #ececec;
            border-left: 1px solid #ececec;
        }
    }
    &:nth-child(9) {
        border-top: 0;
        @media #{$xs} {
            border-right: 1px solid #ececec;
        }
    }
}

.service-section .section-title.f-46 {
    @media #{$xl} {
        font-size: 44px;
    }
    @media #{ $md} {
        font-size: 30px;
    }
    @media #{ $xs} {
        font-size: 28px;
    }
    @media #{ $sm} {
        font-size: 36px;
    }
}