/*
************
*************************
20. shop details
******************************************************* 
*************************************************************** */
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


.shop-details-img {
    background: #D9E9E9;
  }
  .shop-details-content-title {
    font-size: 36px;
    margin-bottom: 5px;
    @media #{$xs}{
      font-size: 30px;
    }
  }

  
.shop-details-review {
    display: flex;
    margin-bottom: 15px;
  }
  .shop-details-rating span {
    color: var(--clr-theme-primary);
    display: inline-block;
    font-size: 15px;
  }
  .shop-details-review-text {
    font-size: 15px;
    margin-left: 10px;
  }
  .shop-details-price span {
    font-size: 30px;
    font-weight: 500;
    color: var(--clr-theme-primary);
    display: flex;
    align-items: center;
  }
  .shop-details-price span del {
    margin-left: 10px;
    font-size: 16px;
    display: inline-block;
  }
  .shop-details-price {
    margin-bottom: 12px;
  }
  .shop-details-text {
    font-size: 16px;
    margin-bottom: 45px;
  }
  .shop-details-cart-action-wrap {
    display: flex;
    gap: 20px;
    margin-bottom: 45px;
  }
  .single-product-quantity-box {
    width: 120px;
    height: 50px;
    background: transparent;
    position: relative;
    border: 1px solid #ececec;
  }
  .single-product-quantity-box .plus {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 0;
    right: 16px;
    background-color: transparent;
    color: var(--clr-theme-primary);
  }
  .single-product-quantity-box form input {
    width: 100%;
    border: 0;
    background: transparent;
    height: 48px;
    text-align: center;
    font-size: 16px;
    color: var(--clr-body-heading);
    font-weight: 600;
  }
  .single-product-quantity-box .minus {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 0;
    left: 16px;
    background-color: transparent;
    color: var(--clr-theme-primary);
    font-size: 16px;
  }
  .shop-product-meta .shop-meta-item {
    display: block;
    color: var(--clr-theme-primary);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .shop-product-meta span .shop-meta-info {
    margin-left: 5px;
  }
  .shop-product-meta span a {
    font-size: 16px;
    font-weight: 400;
    color: var(--clr-body-text);
    &:hover {
      color: var(--clr-theme-primary);
    }
  }

//   info 

    .shop-details-info-tab-controls {

        &.mb-50 {
            @media #{$xs}{
                margin-bottom: 30px;
            }
        }

        & button, & .nav-link {
            background: transparent;
            border: none;
            font-size: 22px;
            color: var(--clr-common-black);
            margin-right: 30px;
            position: relative;
            font-weight: 500;
            display: inline-block;
            padding: 0;
            padding-bottom: 10px;
            &.active {
              background-color: transparent;
              color: var(--clr-common-black);
            }

            @media #{$xs} {
                font-size: 18px;
                margin-right: 30px;
                display: block;
                font-weight: 400;
            }
            @media #{$sm}{
                display: inline-block;
                margin-right: 30px;
                font-size: 20px;
                font-weight: 500;
            }

            &:last-child {
                margin-right: 0;
            }

            &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 100%;
                width: 0;
                height: 1px;
                background: var(--clr-theme-primary);
                transition: .3s;
            }

            &.active::after {
                width: 100%;
            }
            &:hover {
              &:after {
                width: 100%;
              }
            }
        }
    }

    .description {
        &-text {
            & p {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 30px;
            }
        }

        &-list {
            & ul {
                & li {
                    font-size: 16px;
                    margin-bottom: 20px;
                    display: flex;

                    @media #{$xs}{
                        font-size: 15px;
                        margin-bottom: 15px;
                    }

                    & i{
                        display: inline-block;
                        margin-right: 10px;
                        font-size: 22px;
                        color: var(--clr-theme-primary);
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .shop-review {
        & span {
            display: inline-block;
            margin-right: 10px;
            font-size: 18px;
            font-weight: 500;
            color: var(--clr-common-black);
        }

        &-rating {
            display: inline-block;
            & i{
                display: inline-block;
                margin-right: 5px;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    color: var(--clr-theme-primary);
                }
            }
        }
    }

    .shop-submit-form-default {
        &-single {
            & .name, .email {
                width: 100%;
                height: 50px;
                line-height: 60px;
                padding: 0 25px;
                border: none;
                background-color: #f7f7f7;
                margin-bottom: 20px;
                font-size: 16px;
                color: var(--clr-body-text);
                border-radius: 4px;

            }
            & textarea {
              width: 100%;
              height: 160px;
              padding: 15px 25px;
              border: none;
              background-color: #f7f7f7;
              margin-bottom: 20px;
              font-size: 16px;
              color: var(--clr-body-text);
              border-radius: 4px;

                @media #{$xs}{
                    height: 140px;
                }
            }

            & .condition-box {
                display: flex;
                align-items: baseline;
                gap: 10px;

                & .has-condition {
                    width: 15px;
                    height: 15px;
                    transform: translateY(2px);
                }

                & label.condition {
                    font-size: 16px;
                    color: var(--clr-common-black);
                }
            }

            &-btn {
                padding: 0 25px;
            }
        }
    }


    .shop-review{
        margin-bottom: 20px;
    }
.shop-details-review-box-single {
    display: flex;
    gap: 20px;
  }
  .shop-details-review-box-single .shop-review-thumb {
    width: 50px;
    flex: 0 0 50px;
    border-radius: 50%;
    height: 50px;
    overflow: hidden;
  }
  
.shop-rating i {
    font-size: 15px;
    color: var(--clr-theme-primary);
  }
  .shop-rating {
    margin-bottom: 10px;
  }
  .reviewer-info .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .reviewer-info {
    margin-bottom: 5px;
  }
  .review-date {
    margin-bottom: 10px;
  }
  .review-text {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .shop-details-review-box-single {
    margin-bottom: 30px;
  }

  
.shop-details-review-title {
    font-size: 24px;
  }
  .required-field p {
    margin-bottom: 0;
  }
  .required-field {
    margin-bottom: 15px;
  }

  .shop-details-content.ml-40 {
    @media #{$xl} {
      margin-left: 20px;
    }
    @media #{$lg} {
      margin-left: 10px;
    }
    @media #{ $md, $xs} {
      margin-left: 0;
    }
  }
  .shop-details-info-tab-controls > .nav > .nav-item:not(:last-child) {
    margin-right: 30px;
}