$colors: (
    common: (
        white: #fff,
        black: #181818,
        black-soft: #38383A,
        black-deep: #000000,
    ),
    body: (
        heading: #0A111C,
        text: #777777,
    ),
    color: (
        blue: #000A30,
        orange: #FCAA04,
        orange-2: #ffd139,
        orange-3: #FFCD00,
    ),
    theme: (
        primary: #006464,
        primary-dark: #A85855,
        primary-soft: #fff5f5,
    ),
    bg: (
        gray: #F6F6F6,
        gray-2: #F1F1F1,
        gray-3: #ECECEC,
        gray-4: #b2b2b2,
        gray-5: #BCBCBC,
        gray-6: #828282,
        gray-7: #EEEEEE,
        gray-8: #D5D5D5,
        gray-9: #b8b8b8,
        gray-10: #a2a2a2,
        gray-11: #c1c1c1,
        gray-12: #F5F5F5,
        gray-13: #dbdbdb,
        gray-14: #CECECE,
        gray-15: #F8F2F2,
        gray-16: #F8F8F8,
    )
)